@{
    ViewData["Title"] = "Bryce's Garage";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
<div class="text-center">
    <h1 class="display-4">Welcome to Bryce's Garage</h1>
    <h3>View my cars and request a quote to service your vehicle</h3>
</div>
<div>
    <p>Working on cars has always been more than just a hobby for me—it’s a passion 
        that started when I was 16, turning wrenches with my buddy on his 1975 Bronco. 
        That old truck was our classroom, teaching us the ins and outs of engines, suspensions, 
        and the patience it takes to bring a vehicle back to life. 
        We spent countless weekends covered in grease, troubleshooting problems with nothing but a 
        repair manual and trial and error. There was something special about that hands-on learning, 
        the satisfaction of hearing an engine roar back to life after hours of hard work. 
        Those early days sparked a love for mechanics that has stuck with me ever since.</p>

    <p>Now, as a DIY home mechanic, my garage is my sanctuary. Whether it’s routine maintenance, 
        major repairs, or restoring an old project car, I take pride in doing the work myself. 
        It’s not just about saving money—it’s about the challenge, the learning, and the sense of 
        accomplishment that comes with fixing something with my own two hands. 
        Over the years, I’ve built up a solid collection of tools, knowledge, and experience, 
        tackling everything from simple brake jobs to full engine rebuilds. Every car has a story, 
        and every repair is a lesson. What started as a teenage hobby has become a lifelong pursuit, 
        one that keeps my hands busy and my mind sharp.</p>
</div>
<div class="gallery">
    <div class="picCard">
        <img src="~/img/IMG_9211.jpg" alt=""/>
    </div>
    <div class="picCard">
        <img src="~/img/IMG_2037.png" alt=""/>
    </div>
    <div class="picCard">
        <img src="~/img/IMG_3490.png" alt=""/>
    </div>
</div>
